@tailwind base;

@layer base {
  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
  }

  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}

@tailwind components;
@tailwind utilities;

ul {
  list-style: disc;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2cece;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:root {
  --f-carousel-spacing: 10px;
}
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #16a34a;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #111827;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .swiper {
  width: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  user-select: none;
}
/*----------------- main swiper ----------------------*/
/* .main-swiper {
  height: 90%;
  max-width: 1000px;
  overflow: auto;
  @media (max-width: 768px) {
    height: 350px;
  }
}

.main-swiper .swiper-slide {
  border-radius: 15px;
  overflow: hidden;
  user-select: none;
}
.main-swiper .swiper-button-next,
.main-swiper .swiper-button-prev {
  color: white;
  background-color: rgba(0, 0, 0, 0.482);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.2s;
  user-select: none;
}
.main-swiper .swiper-button-next:hover,
.main-swiper .swiper-button-prev:hover {
  transform: scale(1.2);
}

.main-swiper .swiper-button-next::after,
.main-swiper .swiper-button-prev::after {
  font-size: 15px;
}
.main-swiper .swiper-pagination-fraction {
  color: #fff;
}
/* Zooming */
/*
.main-swiper .swiper-zoom-container img {
  object-fit: cover;
} */
/*----------------- small swiper ----------------------*/
/*
.small-swiper.swiper {
  margin-top: 10px;
  padding: 5px 10px;
  height: 100px;
  @media (max-width: 768px) {
    height: 80px;
  }
}

.small-swiper .swiper-slide {
  width: 150px;
  height: 100%;

  transition: 0.5s all;
  border-radius: 10px;

  margin-right: 5px;
  user-select: none;
  cursor: grab;
  @media (max-width: 768px) {
    width: 25%;
  }
}

.small-swiper .swiper-slide-thumb-active {
  box-shadow: 0 0 0 2px yellow;
} */
.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default;
}
.fancybox__slide {
  margin: 0;
}
.fancybox__slide > .fancybox__content {
  height: 100%;
  padding: 0;
  background-color: transparent;

  @media (max-width: 768px) {
    height: auto;
  }
}

.fancybox__slide > .fancybox__content img {
  height: 100%;
  object-fit: cover;
  position: relative;
}
.my-carousel.f-carousel {
  --f-button-width: 38px;
  --f-button-height: 38px;
  --f-carousel-spacing: 8px;
  --f-button-svg-width: 16px;
  --f-button-svg-height: 16px;
  --f-button-svg-stroke-width: 2.5;

  --f-button-color: rgb(71 85 105);
  --f-button-border-radius: 50%;
  --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
    0 3px 7px -3px rgb(0 0 0 / 30%);

  --f-button-bg: #fff;
  --f-button-hover-bg: #f9f9f9;
  --f-button-active-bg: #f0f0f0;
}

.f-carousel {
  height: 80vh;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    height: auto;
  }
}
.my-carousel.f-carousel {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  @media (max-width: 768px) {
    margin: 0;
  }
}
.my-carousel.f-carousel .f-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.my-carousel.f-carousel .f-carousel__slide img {
  height: 100%;
  object-fit: cover;
}
.nav-carousel.f-carousel {
  height: 100px;
}
.nav-carousel.f-carousel .f-carousel__viewport {
  padding: 10px;
}
.nav-carousel.f-carousel .f-carousel__slide {
  max-width: 100px;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
}
.nav-carousel.f-carousel .f-carousel__slide img {
  height: 100%;
  object-fit: cover;
}
.f-carousel__slide.is-nav-selected {
  box-shadow: 0 0 0 2px yellow;
}

/* */
