@tailwind base;

@layer base {

  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6 {
      font-size: revert;
      font-weight: revert;
  }

  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
      list-style: revert;
      margin: revert;
      padding: revert;
  }
}

@tailwind components;
@tailwind utilities;

ul {
  list-style: disc;
}

/* START: Hero styles */
.hero {
  @apply columns-12 flex flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply flex flex-col text-[40px] font-extrabold  w-[50%];
}

.hero__subtitle {
  @apply flex flex-col text-[27px] text-black-100 font-light mt-5 w-[50%];
}

.hero__image-container {
  @apply flex flex-col justify-end items-end xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[50%] h-[50%] xl:h-full z-0;
}

/* .hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
} */
/* END: Hero styles */
